header {
    border-bottom: 1px solid rgb(211, 211, 211);
}

img.site-logo {
    width: 80px;
}

div.header-container {
    padding: 1rem 2rem;

    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.header-left {
    display: flex;
    gap: 20px;
    align-items: center;
    .site-logo {
        margin-bottom: -3px;
    }
}

.menu {
    list-style: none;
    display: flex;
    gap: 20px;
    li a {
        text-decoration: none;
    }
}

/* Home header */

.home-header {
    position: absolute;
    z-index: 5;
    width: 100%;
    backdrop-filter: blur(10px);
    a {
        color: white;
    }
    a:hover {
        color: rgb(225, 225, 225);
    }
}